*{
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  box-sizing: border-box;
}
img{
  max-width: 100%;
  display: block;
}
.detalhe-1,.detalhe-2{
  width: 100%
}
body{
  overflow: hidden;
}