@media (max-width: 1000px) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 750px) {
  html {
    font-size: 12.9px;
  }
}
@media (max-width: 600px) {
  .foguete {
    display: none;
  }
  .principal-box {
    grid-column: 1/-1;
  }
}
@media(max-width: 300px){
  .contador{
    font-size: 3rem;
  }
  .principal-botao{
    font-size: 0.85rem;
  }
}
